{<div class="col-xs-12 col-md-12" id="blacktxt">
    <script type="text/javascript" src="https://tbcmgis.tbcmthailand.net/javascripts/api/viz_v1.js"></script>
    <div class="tableauPlaceholder" style="width: 100%; height: 931px; position: relative; overflow: hidden; display: block;">

        <iframe frameborder="0" marginheight="0" marginwidth="0" title="data visualization" allowtransparency="true" allowfullscreen="true" class="tableauViz" width="100%" height="931px" style="display: block; margin: 0px; padding: 0px; border: none; width: 100%; height: 931px;" src="https://tbcmgis.tbcmthailand.net/trusted/mSHg7AiKRASyiOpIhrmBYg==:EYYclpC0wqo2eHoxqAdCMepO/views/TBCMDashboards/Dashboards?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Ftbcmgis.tbcmthailand.net%2F&amp;:tabs=yes&amp;:toolbar=yes&amp;:showShareOptions=true&amp;:display_spinner=no&amp;:loadOrderID=0"></iframe>
    </div>
</div>