@*@model IEnumerable<TB.Models.TBL_MS_HOSP_CODE>*@

@{
    ViewData["Title"] = "Hospital";
    Layout = null;
}
<html>
<head>

    <script type="text/javascript" language="javascript" src="~/bower_components/Datatables/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="~/bower_components/Datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/bower_components/Datatables/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/bower_components/Datatables/css/dataTables.bootstrap.min.css" />
</head>
<body>
    <div style="width:90%;margin:0 auto;">
        <table id="hTable" class="display">
            <thead>
                <tr>
                    <th>ORG_ID</th>
                    <th>ORG_ID_9</th>
                    <th>orG_LEVEL</th>
                    <th>orG_TYPE</th>
                    <th>orG_TYPE_NHSO</th>
                    <th>NAME_TH</th>
                    <th>namE_EN</th>
                    <th>addr</th>
                    <th>mu</th>
                    <th>changwat</th>
                    <th>ampur</th>
                    <th>tambon</th>
                    <th>bed</th>
                    <th>department</th>
                    <th>tel</th>
                    <th>fax</th>
                    <th>nhsO_ID</th>
                    <th>OPDC</th>
                    <th>phO_ID</th>
                    <th>ssO_ID</th>
                    <th>iS_MDR_TREAT</th>
                    <th>iS_CULTURE_TREAT</th>
                    <th>iS_DST_TREAT</th>
                    <th>iS_MOLECULAR_TREAT</th>
                    <th>status</th>
                    <th>latitude</th>
                    <th>longtitude</th>
                    <th>iS_CUL_SOLID</th>
                    <th>iS_CUL_LIQUID</th>
                    <th>iS_DST_SOLID</th>
                    <th>iS_DST_LIQUID</th>
                    <th>iS_MOL_LPA</th>
                    <th>iS_MOL_XPERT</th>
                    <th>iS_NHSO_ORG</th>
                    <th>iS_OUTOF_TBCM</th>
                    <th>hmain_id</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        var oTable = $('#hTable').DataTable({
            "ajax": {
                "url": '/hcode/gethosp',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { data: "orG_ID", autowidth: true, autowidth: true },
                { data: "orG_ID_9", autowidth: true },
                { data: "orG_LEVEL", autowidth: true },
                { data: "orG_TYPE", autowidth: true },
                { data: "orG_TYPE_NHSO", autowidth: true },
                { data: "namE_TH", autowidth: true },
                { data: "namE_EN", autowidth: true },
                { data: "addr", autowidth: true },
                { data: "mu", autowidth: true },
                { data: "changwat", autowidth: true },
                { data: "ampur", autowidth: true },
                { data: "tambon", autowidth: true },
                { data: "bed", autowidth: true },
                { data: "department", autowidth: true },
                { data: "tel", autowidth: true },
                { data: "fax", autowidth: true },
                { data: "nhsO_ID", autowidth: true },
                { data: "odpC_ID", autowidth: true },
                { data: "phO_ID", autowidth: true },
                { data: "ssO_ID", autowidth: true },
                { data: "iS_MDR_TREAT", autowidth: true },
                { data: "iS_CULTURE_TREAT", autowidth: true },
                { data: "iS_DST_TREAT", autowidth: true },
                { data: "iS_MOLECULAR_TREAT", autowidth: true },
                { data: "status", autowidth: true },
                { data: "latitude", autowidth: true },
                { data: "longtitude", autowidth: true },
                { data: "iS_CUL_SOLID", autowidth: true },
                { data: "iS_CUL_LIQUID", autowidth: true },
                { data: "iS_DST_SOLID", autowidth: true },
                { data: "iS_DST_LIQUID", autowidth: true },
                { data: "iS_MOL_LPA", autowidth: true },
                { data: "iS_MOL_XPERT", autowidth: true },
                { data: "iS_NHSO_ORG", autowidth: true },
                { data: "iS_OUTOF_TBCM", autowidth: true },
                { data: "hmain_id", autowidth: true }
            ]
        })
    })
</script>